<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Reecord</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
        <div class="container">
            <section id="new_note">
                <h2>New note</h2>
                <form method="POST" action="/add_note">
                    <input type="text" name="title" placeholder="Title" required>
                    <input type="text" name="link" placeholder="Link">
                    <textarea name="details" placeholder="Details"></textarea>
                    <input type="submit" value="Reecord">
                </form>
                {{if .LoggedIn}}
                <p>Logged in as {{.Username}}.</p>
                <form method="POST" action="/do_logout">
                    <input type="submit" value="Logout">
                </form>
                {{else}}
                <a href="/login.html">Login.</a>
                {{end}}
            </section>
            <section id="feed">
                <h2>Feed</h2>
                {{range .Notes}}
                <article class="note">
                    <h2>{{.Title}}</h2>
                    <a href="{{.RenderLink}}">{{.Link}}</a>
                    <pre>{{.Details}}</pre>
                    <footer>
                        <p>
                        Last Update: {{.PrettyPrintDate}}, by {{.Author}}
                        </p>
                        <form method="POST" action="/delete_note">
                            <input type="hidden" name="note_id" value="{{.NoteID}}">
                            <input type="submit" value="Delete">
                        </form>
                        <form method="GET" action="/get_update_page">
                            <input type="hidden" name="note_id" value="{{.NoteID}}">
                            <input type="submit" value="Update">
                        </form>
                    </footer>
                </article>
                {{end}}
            </section>
        </div>
    </body>
</html>
